
            <div id="content">
                <section class="container1">
                 <div class="logo1"><img src="aavegLogo.png" alt=""></div>
                 <div class="links1">
                    <nav class="link-effect-12" id="link-effect-12">
                        <a href="/contact"><span>Home</span></a>
                        <a href="/contact"><span>Register</span></a>

                        
                        </nav>
                 </div>
 
                  </div>
                 <!-- <span class = "search-icon">
                    <i class = "fas fa-search"></i>
                 </span> -->
                  </div>
